@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9b8ec7;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.wave-sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.wave-absolute {
  position: absolute;
  z-index: 10;
}

.tok-string {
  color: #ce9178;
}
.tok-keyword {
  color: #569cd6;
}
.tok-boolean {
  color: #569cd6;
}
.tok-number {
  color: #b5cea8;
}
.tok-function {
  color: #dcdcaa;
}
.tok-property {
  color: #9cdcfe;
}
